name: Visualize repo with diagram

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  visualize_repo:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'webern-unibas-ch'
    permissions:
      contents: write
    
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Update diagram
        uses: githubocto/repo-visualizer@a999615bdab757559bf94bda1fe6eef232765f85 # v0.9.1
        with:
          excluded_paths: ".github"
