name: Visualize repo with diagram

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  visualize_repo:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'webern-unibas-ch'
    permissions:
      contents: write
    
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Update diagram
        uses: githubocto/repo-visualizer@a999615bdab757559bf94bda1fe6eef232765f85 # v0.9.1
        with:
          excluded_paths: ".github"
